/venv/
.idea
Coding Exercises DAY 4.py
Coding Exercises DAY 5.py
Coding Exercises DAY 6.py
Coding Exercises DAY 7.py
Coding Exercise DAY 8.py
Coding Exercises DAY 10.py
Coding Exercises DAY 13.py
DAY 13 BUG FIX.py
a.txt
b.txt
c.txt
essay.txt
members.txt
